{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/backend/pageModificationArticle.css") }}"
{% endblock %}

{% block body %}

    <section class="creation_input">
        {{ form_start(form, {"attr" : {"class": "formArticle formModificationArticle"}}) }}
        {{ form_widget(form.title) }}
        {{ form_widget(form.titlePicture) }}
        {{ form_widget(form.content) }}
        {{ form_widget(form.introduction) }}
        {{ form_row(form.category) }}
        {{ form_row(form.file) }}
        <button type="submit">Publier</button>
        {{ form_end(form) }}


    </section>

{% endblock %}