{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/programme/pre-connexion.css') }}">
{% endblock %}

{% block body %}
    <header>
        <div class="left_header_logo">
            <img src="{{ asset("image/logo/gbafMiniature.png") }}" alt="logo">
        </div>
        <div class="right_header_connexion">
            <div class="acces_membre">
                <a href="{{ path("programme_connexion") }}">Accès membre</a>
            </div>
            <div class="redirect_rejoindre">
                <!-- Ceci est un href qui descend plus bas dans la page dans l'onglet pourquoi nous rejoindre -->
                <a href="{{ path("programme_inscription") }}">REJOIGNEZ L'AVENTURE</a>
            </div>
    </header>
    <section>
        <div class="contener_section_presentation">
            <h1>Transformez votre vie</h1>

            <!--Inserer une video -->
            <div class="div_video">
                <video controls="controls" poster="{{ asset("image/hacker.jpg") }}">
                    <source src="{{ asset("video/videohack.mp4") }}" type="video/mp4">
                    Le fichier video ne peut être lu
                </video>
            </div>
            <div class="accroche">
                <p>CECI N'EST PAS QU'UNE FORMATION.</p>
                <p>CECI N'EST PAS QU'UN PROGRAMME DE COACHING.</p>
                <p>CECI NE VOUS FERAS PAS PERDRE VOTRE ARGENT.</p>
                <p>C'EST DU JAMAIS VU.</p>
            </div>

            <div class="acces_programme">
                <p>JE DÉBLOQUE MON ACCÈS À VIE </p> <!-- Faire un redirect en js au click-->
                <p>ET JE PROFITE DE L'OFFRE EXCEPTIONNELLE À -65%</p>
            </div>

            <div class="contener_general_timing">
                <div class="contener_timing contener_timing_1">

                </div>
                <div class="contener_timing contener_timing_2">

                </div>
                <div class="contener_timing contener_timing_3">

                </div>
            </div>

            <div class="rappel_offre_limite">
                <p>Offre exceptionnelle Avril 2020 : promo -65% + un accès à vie pour le même prix qu'un accès 12 mois
                    <!--mettre smiley --></p>
                <p>(Limitée au 1500 premiers inscrits)</p>
            </div>


        </div>

    </section>


{% endblock %}